.services {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    column-gap: 1.8rem;
  }

  &__content {
    position: relative;
    background-color: $box-color;
    padding: 6rem 0 2rem 2.5rem;
    border-radius: 0.25rem;
  }

  &__icon {
    margin-bottom: $mb-1;
  }

  &__title {
    font-size: $h3-font-size;
    margin-bottom: $mb-1;
    font-weight: $font-medium;
  }

  &__button {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    color: $skin-color;
    font-size: $small-font-size;
    cursor: pointer;
    //TODO Add hover animation (1.38.34)
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: $z-modal;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;

    &.open {
      opacity: 1;
      visibility: visible;
    }

    &__content {
      width: 500px;
      position: relative;
      background-color: $box-color;
      padding: 4.5rem 2.5rem 2.5rem;
      border-radius: 0.5rem;
    }

    &__close {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;
    }

    &__title {
      text-align: center;
      font-size: $h3-font-size;
      font-weight: $font-medium;
      margin-bottom: $mb-1;
    }

    &__description {
      text-align: center;
      font-size: $small-font-size;
      padding: 0 3.5rem;
      margin-bottom: $mb-2;
    }

    &__services {
      row-gap: $mb-0-75;
    }

    &__service {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }
    &__info {
      font-size: $small-font-size;
    }
  }
}
