.skills {
  &__container {
    display: grid;
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
  }

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: $mb-2-5;
    }
  }

  &__icon {
    margin-right: $mb-0-75;
  }

  &__title {
    font-size: $h3-font-size;
    font-weight: $font-medium;
  }

  &__subtitle {
    font-size: $small-font-size;
    display: flex;
    align-items: center;
  }

  &__arrow {
    margin-left: auto;
  }

  //   skills-popup

  &__list {
    display: grid;
    row-gap: 1.8rem;
  }

  &__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: $mb-0-5;
  }

  &__name {
    font-size: $normal-font-size;
    font-weight: $font-medium;
  }

  &__bar,
  &__percentage {
    height: 5px;
    border-radius: 0.25rem;
  }

  &__bar {
    background-color: $box-color;
  }

  &__percentage {
    display: block;
    background-color: $skin-color;
  }

  & [data-content] {
    display: none;
  }

  &-active {
    .skills__arrow {
      // TODO, as well as adding margin-left to arrow
      transform: rotate(-90deg);
      transition: 0.3s;
    }

    &[data-content] {
      display: block;
    }
  }
}
// XvScrt7825537qWe
