.skills {
  &__container {
    display: grid;
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
  }

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: $mb-2-5;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    color: $skin-color;
    margin-right: $mb-0-75;
  }

  &__arrow {
    width: 2rem;
    height: 2rem;
    color: $skin-color;
  }

  &__title {
    font-size: $h3-font-size;
    font-weight: $font-medium;
  }

  &__subtitle {
    font-size: $small-font-size;
    display: flex;
    align-items: center;
  }

  &__arrow {
    margin-left: auto;
    transition: 0.3s;
  }

  .active {
    .skills__arrow {
      transform: rotate(-90deg);
      transition: 0.3s;
    }
  }

  @media screen and (max-width: 1024px) {
    &__container {
      grid-template-columns: 340px 300px;
    }
  }
  @media screen and (max-width: 768px) {
    &__container {
      grid-template-columns: 300px;
      row-gap: 3rem;
    }

    &__arrow {
      transform: rotate(-90deg);
      transition: 0.3s;
    }
    .active {
      .skills__arrow {
        transform: rotate(0);
        transition: 0.3s;
      }
    }
  }
}
