@import "../../shared/styles/variables.scss";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-portfolioPopup;
  padding: 0 2rem;

  .inner {
    background-color: $box-color;
    max-width: 900px;
    border-radius: 0.5rem;
    padding: 2.5rem;
    position: relative;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;

  img {
    border-radius: 0.5rem;
  }
}

.closeIcon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $theme-color;
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  > h3 {
    font-size: $h3-font-size;
    font-weight: $font-medium;
  }

  > p {
    font-size: $normal-font-size;
    max-height: 140px;
    overflow-y: auto;
  }
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;

  > li {
    text-transform: capitalize;
    font-size: $small-font-size;
    font-weight: $font-bold;

    span {
      font-weight: normal;

      a {
        margin-left: 4px;
        text-transform: lowercase;
        color: $theme-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .details {
    row-gap: 0.5rem;
  }
}

@media screen and (max-width: 650px) {
  .inner {
    padding: 2rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .content {
    row-gap: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .inner {
    padding: 1.5rem;
  }
  .container,
  .content {
    row-gap: 1rem;
  }
}
