.contact {
  &__content {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        background-color: inherit;
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 300px 400px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: grid;
    row-gap: 1rem;
  }

  &__card {
    background-color: $box-color;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;

    &-icon {
      margin-bottom: $mb-0-25;
      width: 1.8rem;
      height: 1.8rem;
    }

    &-title {
      font-size: $small-font-size;
      font-weight: $font-medium;
    }

    &-data {
      font-size: $small-font-size;
      display: block;
      margin-bottom: $mb-0-75;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: $skin-color;
      }
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.25rem;
      color: $skin-color;
      font-size: $small-font-size;
      cursor: pointer;
    }

    &-arrow {
      width: 1.2rem;
      height: 1.2rem;
      transition: 0.3s;
    }

    &-button:hover &-arrow {
      transform: translateX(0.25rem);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &__container {
      position: relative;
    }

    &__input,
    &__textarea {
      font-family: $body-font;
      width: 100%;
      border: 2px solid $text-color;
      background-color: transparent;
      padding: 0.6rem 1.2rem;
      color: $title-color;
      font-weight: $font-regular;
      font-size: $normal-font-size;
      letter-spacing: 0.5px;
      border-radius: 0.5rem;
      transition: 0.3s;
      outline: none;
    }

    &__textarea {
      min-height: 140px;
      resize: none;
    }

    &__label,
    &__textarea-label {
      // Input Label
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      padding: 0 0.4rem;
      color: $text-color;
      font-size: 1rem;
      font-weight: $font-medium;
      z-index: 90;
      transition: 0.5s;
      cursor: text;
    }

    &__textarea-label {
      top: 0.8rem;
      transform: translateY(0);
    }

    &__text-top {
      // ?Text on the top border
      position: absolute;
      top: 0;
      left: 25px;
      transform: translateY(-50%);
      font-size: $smaller-font-size;
      color: transparent;
      padding: 0.4rem;
      pointer-events: none;
      z-index: 50;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 5px;
        background-color: $body-color;
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
      }
      &::before {
        left: 50%;
      }
      &::after {
        right: 50%;
      }
    }

    &__container.focus {
      .form__textarea-label,
      .form__label {
        top: 0;
        transform: translateY(-50%);
        left: 25px;
        font-size: $smaller-font-size;
      }
      .form__text-top::before,
      .form__text-top::after {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__container {
      grid-template-columns: 270px 360px;
      column-gap: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    &__container {
      grid-template-columns: 400px;
      row-gap: 3rem;
    }
  }

  @media screen and (max-width: 576px) {
    &__container {
      grid-template-columns: 300px;
    }
  }
  @media screen and (max-width: 350px) {
    &__container {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
    .form {
      row-gap: 1rem;
    }
  }
}
