// Need to import only this class, approach is not suitable

.swiper-slide {
  // testimonial slide lib item, cardContainer parent
  display: flex;
  justify-content: center;
  align-items: center;
}
