@mixin selected-dot($color) {
  // Dot near the selected and hoover nav-element
  position: absolute;
  left: 0;
  right: 0;
  top: 1.8rem;
  margin: auto;
  content: "";
  width: 6px;
  height: 6px;
  background-color: $color;
  border-radius: 50%;

  @media screen and (max-width: 1024px) {
    bottom: 0;
  }
}

.sidebar {
  position: fixed;
  width: 100px;
  height: 100%;
  border-right: 1px solid $box-color;
  padding: 1.8rem 0;
  margin-right: 100px;
  background-color: $body-color;
  transition: 0.3s;

  // &__show {
  //   transform: translateX(0) !important;
  // }
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $skin-color;
    text-align: center;
    margin: 0 auto;

    &-text {
      font-size: 1.125rem;
      color: $title-color;
      font-weight: $font-bold;
      line-height: 40px;
    }
  }

  &__menu {
    transform: rotate(-90deg);
    display: flex;
    width: fit-content;
  }

  &__list {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  &__item {
    position: relative;
    // height: 100%;
    padding: 0 1rem;

    a {
      // line-height: 100px;
      font-weight: $font-medium;
      color: $title-color;
      transition-duration: 0.5s;
    }
    // &::after {
    //   @include selected-dot(inherit);
    // }
  }

  &__item.active,
  &__item:hover {
    a {
      color: $skin-color;
    }

    &::after {
      transition-duration: 0.1s;
      transition-timing-function: ease-out;
      @include selected-dot($skin-color);
    }
  }

  &__share {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $skin-color;
    }
  }

  &__toggle {
    height: 32px;
    width: 32px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    border-radius: 0.25rem;
    background-color: $skin-color;
    z-index: 2;
    color: $title-color;
    padding: 5px;

    display: none;
    justify-content: center;
    align-items: center;
  }

  &__close {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100%;
    z-index: 99;
    // Hide sidebar
    transform: translateX(-100%);
  }

  .nav {
    &__logo,
    &__share {
      display: none;
    }

    &__menu {
      height: 100%;
      width: 100%;
      transform: translateX(0);
      justify-content: center;
    }

    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item {
      padding: 1rem 0;
      height: inherit;
    }
    &__close {
      display: block;
    }

    &__toggle {
      display: flex;
    }
  }

  @media screen and (max-width: 576px) {
    .nav {
      &__toggle {
        right: inherit;
        left: 1.5rem;
      }
    }
  }
}
