.home {
  background: url("../../../assets/imgs/home-bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;

  &__img {
    display: none;
  }

  &__popup {
    position: absolute;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }

  &__social {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;

    &-follow {
      font-weight: $font-medium;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 2px;
        background-color: $text-color;
        top: 50%;
        right: -45%;
      }
    }

    &-links {
      display: inline-flex;
      column-gap: 1rem;
    }

    &-item {
      color: $text-color;
      transition: 0.4s;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        transform: translateY(0.25rem);
      }
    }
  }

  &__title {
    font-size: $biggest-font-size;
    max-width: 550px;
  }

  &__subtitle {
    font-size: $h3-font-size;
    font-weight: $font-medium;
    margin-bottom: $mb-0-75;
    max-width: 550px;
  }

  &__description {
    margin-bottom: $mb-2;
    max-width: 550px;
  }

  &__info {
    display: flex;
    column-gap: 1.8rem;
    flex-wrap: wrap;
    row-gap: 1.8rem;

    &-item {
      display: flex;
      align-items: center;
      column-gap: $mb-1;
    }

    &-title {
      font-size: $small-font-size;
      font-weight: $font-medium;
    }

    &-subtitle {
      cursor: pointer;
      font-size: $small-font-size;
      transition: 0.5s;

      &:hover {
        color: $skin-color;
      }
    }

    &-image {
      width: 28px;
      height: 28px;
      color: $skin-color;
    }
  }
  @media screen and (max-width: 1024px) {
    background-position: -180% center;
  }
  @media screen and (max-width: 930px) {
    background-position: -150% center;
  }
  @media screen and (max-width: 840px) {
    background-position: -130% center;
  }
  @media screen and (max-width: 768px) {
    background-position: -110% center;
  }
  @media screen and (max-width: 660px) {
    background-position: -95% center;
  }

  @media screen and (max-width: 576px) {
    background-image: none;
    height: initial;
    padding: 2rem 0;

    &__container {
      row-gap: 2rem;
    }

    &__img {
      display: block;
      width: 250px;
      justify-self: center;
    }

    &__info {
      display: none;
    }

    &__social {
      position: absolute;
      left: initial;
      right: -1rem;
      flex-direction: column;
      row-gap: 4rem;
      &-follow {
        font-size: $smaller-font-size;
        transform: rotate(90deg);
      }
      &-links {
        flex-direction: column;
        row-gap: 0.5rem;
      }
    }

    &__container {
      position: relative;
      align-items: center;
      min-height: inherit;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media screen and (max-width: 350px) {
    &__img {
      width: 200px;
    }

    &__title {
      font-size: $h1-font-size;
    }
    &__subtitle {
      font-size: $normal-font-size;
    }
  }
}
