@import "../../shared/styles/variables.scss";

.footer {
  margin-left: 100px;
  background-color: $box-color;
  padding: 2.5rem 0 1rem 0;

  > div {
    @include container;
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  > p {
    font-size: $smallest-font-size;
    text-align: center;
    margin-top: 2.5rem;
  }
}

.content {
  > h2 {
    font-size: $h2-font-size;
    margin-bottom: 0.25rem;
    color: $title-color;
  }

  > p {
    font-size: $small-font-size;
    color: $title-color;
  }
}

.links {
  display: flex;
  justify-self: center;
  column-gap: 2rem;

  > a {
    color: $title-color;
    text-align: center;

    &:hover {
      color: $theme-color;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .content {
    > h2 {
      font-size: $h3-font-size;
    }
  }

  .link {
    > a {
      text-align: center;
    }
  }
}

@media screen and (max-height: 630px) {
  .footer {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 1.5rem 0 1rem;
    margin-left: 0;

    > p {
      margin-top: 1.5rem;
    }
  }

  .content {
    display: none;
  }
  .social {
    justify-self: start;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 2rem 0 1rem;
    margin-left: 0;

    > div {
      flex-direction: column;
    }
  }

  .links {
    flex-direction: row;
  }

  .social {
    flex-direction: row;
  }
}
