.portfolio-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: $z-modal;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    background-color: $box-color;
    width: 900px;
    border-radius: 0.5rem;
    padding: 2.5rem;
    position: relative;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
  }

  &__img {
    border-radius: 0.5rem;
  }

  &__subtitle {
    font-size: $smaller-font-size;
    margin-bottom: $mb-0-25;
  }

  &__details {
    &__title {
      font-size: $h3-font-size;
      font-weight: $font-medium;
      margin-bottom: $mb-1;
    }

    &__description {
      font-weight: $small-font-size;
      margin-bottom: $mb-2;
    }

    &__info {
      li {
        margin-bottom: $mb-0-75;
        text-transform: capitalize;
        font-size: $small-font-size;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          font-weight: normal;

          a {
            text-transform: lowercase;
            color: $skin-color;
          }
        }
      }
    }
  }
}
